.footer-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 209px;
    margin-top: 5%;
    background-color: #000;
    flex-direction: column;

}

.footer-container__text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: #fff;
	width: 100%;
	margin: 2% 0 3% 0;

}

.footer-container img {  
    margin-top: 4%;
	width: 122px;
	height: 40px;
    
}