#slider-container {
    display: flex;
    position: relative;
    height: 415px;
    width: auto;
    margin: 40px 100px 20px 100px;
}

.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    opacity: 1;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    mix-blend-mode: normal;
    border-radius: 25px;
}

.slider__number {
    display: block;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    color: #fff;
    left: 48%;
    top: 86%;
}

.rightVector {
    display: flex;
    position: absolute;
    top: 40%;
    right: 2%;
    width: 47px;
    height: 79px;
    z-index: 10;
    cursor: pointer;
}

.leftVector {
    display: flex;
    position: absolute;
    top: 40%;
    left: 2%;
    width: 47px;
    height: 79px;
    z-index: 10;
    cursor: pointer;
}

@media screen and (max-width: 769px) {

    #slider-container {
        height: 255px;
        margin: 20px 20px 0px 20px;
    }

    .slider {
        border-radius: 10px;
    }

    .slider img {
        border-radius: 10px;
    }

    .slider__number {
        display: none;
    }

    .rightVector {
        width: 12px;
        height: 20px;
        top: 45%;
    }
    
    .leftVector {
        width: 12px;
        height: 20px;
        top: 45%;
    }
}