.nav-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-transform: none;
	padding-top: 10px;
}

.nav-header_link-home {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	line-height: 34px;
	color: #FF6060;
	text-decoration: none;
	padding-left: 60px;

}

.nav-header_link-about {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	line-height: 34px;
	color: #FF6060;
	text-decoration: none;
	padding-left: 60px;
}

.nav-header_link-home:hover {
	text-decoration-line: underline;
}

.nav-header_link-home:focus {
	text-decoration-line: underline;
}

.nav-header_link-about:hover {
	text-decoration-line: underline;
}

.nav-header_link-about:focus {
	text-decoration-line: underline;
}

@media screen and (max-width: 769px) {

    .nav-header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-transform: uppercase;
	}
	
	.nav-header_link-home {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		text-align: right;
		line-height: 17px;
		color: #FF6060;
		text-decoration: none;
		padding-left: 1rem;
	
	}
	
	.nav-header_link-about {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		text-align: right;
		line-height: 17px;
		color: #FF6060;
		text-decoration: none;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}