.nav-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-transform: none;
}

.nav-header_link-home {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	line-height: 142.6%;
	color: #FF6060;
	text-decoration: none;
	padding-left: 3.5rem;

}

.nav-header_link-about {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	line-height: 142.6%;
	color: #FF6060;
	text-decoration: none;
	padding-left: 3.5rem;
}

.nav-header_link-home:hover {
	text-decoration-line: underline;
}

.nav-header_link-home:focus {
	text-decoration-line: underline;
}

.nav-header_link-about:hover {
	text-decoration-line: underline;
}

.nav-header_link-about:focus {
	text-decoration-line: underline;
}