.errorContainer { 
    color: #FF6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.error404 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin: 0;

}

.errorText {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0;

}

.errorLinkHome {
    display: flex;
	align-items: flex-end;
	justify-content: center;
    text-decoration: none;
    color: #FF6060;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 182px 0 50px 0;
    text-decoration-line: underline;

}

@media screen and (max-width: 769px) {

    .errorContainer { 
        margin: 0 0 50px 0;
        
    }

    .error404 {
        font-size: 96px;
        margin: 150px 0 0 0;
    
    }

    .errorText {
        font-size: 18px;
        margin: 0 50px;
    
    }

    .errorLinkHome {
        font-size: 14px;
        margin: 182px 0 200px 0;
    
    }
}